@font-face {
    font-family: 'Comfortaa';
    src: url('../../fonts/Comfortaa/Comfortaa.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../../fonts/Comfortaa-Bold/Comfortaa-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa-Light';
    src: url('../../fonts/Comfortaa-Light/Comfortaa-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
body.page {
    font-family: 'Comfortaa';
    font-size: 0.875rem;
    background-color: #F6F6F6;
}
body.page_white {
    background: #fff;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
html {
    min-height: 100%;
}
.page_theme_islands {
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    min-height: 100%;
    margin: 0;

    color: #000;
    background: #fff;
}
.header {
    height: 55px;
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 1px 4px rgba(227, 227, 227, 0.5);
            box-shadow: 0 1px 4px rgba(227, 227, 227, 0.5);
}
.header_mb_70 {
    margin-bottom: 70px;
}
.header_mb_30 {
    margin-bottom: 30px;
}
.content {
    position: relative;
    max-width: 1160px;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.content_wrap_wrap{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content_wrap_nowrap{
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.content_justify_center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.content_items_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.content_size_inner {
    max-width: 960px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
}
.content_height_240 {
    min-height: 240px;
}
.header__logo {
}
.logo__image {
    height: 55px;
    max-width: 260px;
}
.search {
    
}
.search__search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    border: 1px solid #D7D7D7;
    border-radius: 20px;
    padding: 4px;
    overflow: hidden;
}
.search__button {
	width: 20px;
	height: 20px;
	margin-right: 15px;
	padding: 0;
    background: url(../../images/search.svg) center no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.search__input {
    font-size: 1rem;
    font-family: 'Comfortaa Light';
    width: 255px;
    border: none;
    outline: none;
}
.links {
    font-size: 0.875rem;
    font-family: 'Comfortaa'; /* bold */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.links_size_sm {
    font-size: 0.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.links_mt_25 {
    margin-top: 25px;
}
.links__link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-right: 25px;
    font-family: 'Comfortaa-Bold';
}
.links__link_size_sm {
    margin: 0;
}
.links__link:hover {
	color: #FD773F;
}
.bell {
	display: inline-block;
	width: 23px;
	height: 27px;
	background: url(../../images/notification.svg) center no-repeat;
	position: relative;
}
.bell__received {
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
	background: #FD773F;
	top: -4px;
	left: -4px;
	border-radius: 50%;
	font-size: 0.625rem;
	font-family: 'Comfortaa-Bold';
	text-align: center;
	color: #fff;
	line-height: 1.5;
}
.bell__received_active {
	display: block;
}
.email {
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url(../../images/email.svg) center no-repeat;
    position: relative;
}
.email__received {
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
	background: #FD773F;
	top: -4px;
	left: -4px;
	border-radius: 50%;
	font-size: 0.625rem;
	font-family: 'Comfortaa-Bold';
	text-align: center;
	color: #fff;
	line-height: 1.5;
}
.email__received_active {
	display: block;
}
.email:hover {
    background: url(../../images/email-hovered.svg) center no-repeat;
}
.email_ml_20 {
	margin-left: 20px; 
}
/* миксы */
.personal-area__link {
    font-size: 1rem;
    font-family: 'Comfortaa-Bold';
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
}
.personal-area__link:hover {
	color: #FD773F;;
}
.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.rating__title {
    font-size: 0.75rem;
    font-family: 'Comfortaa-Bold';
}
.stars {
	width: 55px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.stars__item {
    width: 8px;
    height: 8px;
    background: url(../../images/star.svg) center no-repeat;
    margin-left: 2px;
}
.stars__item:last-child {
	margin-right: 0;
}
.space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.space-between_mt_40 {
    margin-top: 40px;
}
.back {
	display: block;
	width: 58px;
	height: 41px;
	background: url(../../images/return.svg) center no-repeat;
	background-size: cover;
	margin-left: 40px; 
	cursor: pointer;
}
.close {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../../images/close.svg) center no-repeat;
	background-size: cover;
	margin-right: 40px; 
	cursor: pointer;
}
.auth {
	
}
.title {
    font-size: 1.375rem;
    font-family: 'Comfortaa-Bold'; 
    margin: 0;
    text-transform: uppercase;
}
.title_mt_40 {
    margin-top: 40px;
}
.title_mb_45 {
    margin-bottom: 45px;
}
.title_mb_10 {
    margin-bottom: 10px;
}
.title_center {
	text-align: center;
}
.auth__title {
	margin-bottom: 19px;
}
.auth__number {
    font-size: 1.125rem;
    width: 100%;
    text-align: center;
}
.sign {
    width: 380px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.auth__sign {
	margin-top: 40px;
}
.sign-form__input {
    border: none;
    padding-bottom: 10px;
    outline: none;
    font-size: 1rem;
    color: #000;
    font-family: 'Comfortaa';
    border-bottom: 2px solid #c5c5c5;
}
.auth__input {
    width: 150px;
}
.retry {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	text-decoration: none;
 	color: #000;
 	cursor: pointer;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;   
}
.retry__img {
    height: 16px;
    width: 16px;
    margin-right: 7px;
    background: url(../../images/loading.svg) center no-repeat;
    background-size: cover;
}
.caption {
    color: #8a8a8a;
    font-size: 0.75rem;
}
.auth__caption {
    margin-top: 16px;
}
.networks-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.auth__networks-login {
    margin-top: 40px;
}
.networks-login__item {
	display: block;
    width: 170px;
	height: 60px;
	-webkit-box-shadow: 0 1px 4px rgba(182, 182, 182, 0.5);
	        box-shadow: 0 1px 4px rgba(182, 182, 182, 0.5);
}
.vk-login {
	background: url(../../../images/vk-login.svg) center no-repeat #5a7b9d;
}
.fb-login {
    margin-left: 40px;
    background: url(../../../images/fb-login.svg) center no-repeat #4469b0;
}