@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('SourceSansPro-SemiBold.eot');
  src: url('SourceSansPro-SemiBold.woff2') format('woff2'),
       url('SourceSansPro-SemiBold.woff') format('woff'),
       url('SourceSansPro-SemiBold.ttf') format('truetype'),
       url('SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg'),
       url('SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

