@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('SourceSansPro-Light.eot');
  src: url('SourceSansPro-Light.woff2') format('woff2'),
       url('SourceSansPro-Light.woff') format('woff'),
       url('SourceSansPro-Light.ttf') format('truetype'),
       url('SourceSansPro-Light.svg#SourceSansPro-Light') format('svg'),
       url('SourceSansPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

