.stick {
	width: 2px;
	height: 24px;
	border: 1px solid #e0e0e0;
	background-color: #f5f5f5;
}
.stick:not(.is) {
	display: none;
}

@media only screen and (min-width: 992px) {
	.stick.is {
		display: none;
	}
}